.services {
    width: 100vw;
    height: fit-content;
    padding: 0 50px;
    margin-bottom: 30px;

    @include sm {
        padding: 0 10px;
    }

    .services__container {
        width: 100%;
        height: 100%;

        @include sm {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .services__title {
            font-weight: 380;
            font-size: 95px;
            color: #FFFFFF;
            margin: 114px 0;

            @include sm {
                text-align: center !important;
            }

            @include xl {
                font-size: 94px;
            }

            @include lg {
                font-size: 64px;
            }

            @include md {
                font-size: 34px;
            }

            @include sm {
                text-align: center;
                width: 400px;
                line-height: 50px;
            }

            @include breakpoint (400px) {
                width: 250px;
            }

            @include breakpoint (300px) {
                width: 150px !important;
            }
        }

        .row {
            .col {
                padding: 0 !important;
                position: relative;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                iframe {
                    display: none;
                }
                @include sm {
                    padding: 30px !important;
                }
                .img-fluid {
                    width: 100%;
                }

                .video__title {
                    color: rgba(255, 255, 255, 0);
                    font-size: 40px;
                    letter-spacing: 5px;
                    font-weight: 395;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-transform: uppercase;
                    z-index: 2;
                    text-align: center;
                    transition: all .3s ease-in-out;
                    @include lg {
                        font-size: 28px; 
                    }
                }

                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0);
                    z-index: 1;
                    transition: all .3s ease-in-out;
                }
            }
            .col:hover {
                .video__title {
                    color: #fff;
                }

                .overlay {
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}
